In [20]:
import pandas as pd
import s3fs
import seaborn as sns
import matplotlib.pyplot as plt

In [9]:
#here the i is for the period we want 
#note that we only have period 1 to 4 in our bucket because that is all we generated with our python script 
i = 1
input_file = f"s3://mlops-project-dataset-deen/paris-housing-dataset/ParisHousing_period_{i:02d}.parquet"

In [10]:
df = pd.read_parquet(input_file)

In [12]:
#we check the first few rows of the model 
df.head()

,index,squareMeters,numberOfRooms,hasYard,hasPool,floors,cityCode,cityPartRange,numPrevOwners,made,isNewBuilt,hasStormProtector,basement,attic,garage,hasStorageRoom,hasGuestRoom,price,category
0,6681,58413,43,1,1,27,19305,3,10,1990,1,1,6367,6234,601,1,3,5852813.0,Luxury
1,7424,75898,97,0,1,6,33301,2,10,1990,1,1,6591,6169,411,0,8,7592058.0,Basic
2,9374,67417,68,0,0,67,3056,9,2,1990,1,0,1335,2071,815,1,8,6743688.0,Basic
3,4427,99291,89,0,0,40,38298,3,10,1990,1,1,4592,8562,369,1,1,9933729.0,Basic
4,5267,63720,18,0,1,59,12560,9,1,1990,0,1,279,5973,542,1,2,6380496.0,Basic

### Here we do some exploratory data analysis

In [14]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2500 entries, 0 to 2499
Data columns (total 19 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   index              2500 non-null   int64
 1   squareMeters       2500 non-null   int64
 2   numberOfRooms      2500 non-null   int64
 3   hasYard            2500 non-null   int64
 4   hasPool            2500 non-null   int64
 5   floors             2500 non-null   int64
 6   cityCode           2500 non-null   int64
 7   cityPartRange      2500 non-null   int64
 8   numPrevOwners      2500 non-null   int64
 9   made               2500 non-null   int64
 10  isNewBuilt         2500 non-null   int64
 11  hasStormProtector  2500 non-null   int64
 12  basement           2500 non-null   int64
 13  attic              2500 non-null   int64
 14  garage             2500 non-null   int64
 15  hasStorageRoom     2500 non-null   int64
 16  hasGuestRoom       2500 non-null   int64
 17  price              2500 non-null   float64
 18  category           2500 non-null   object
dtypes: float64(1), int64(17), object(1)
memory usage: 371.2+ KB

In [15]:
#we check the sim of the missing values 
#we have no missing values 
df.isnull().sum()

index                0
squareMeters         0
numberOfRooms        0
hasYard              0
hasPool              0
floors               0
cityCode             0
cityPartRange        0
numPrevOwners        0
made                 0
isNewBuilt           0
hasStormProtector    0
basement             0
attic                0
garage               0
hasStorageRoom       0
hasGuestRoom         0
price                0
category             0
dtype: int64

In [16]:
#we do some descriptive statistics
df.describe()

,index,squareMeters,numberOfRooms,hasYard,hasPool,floors,cityCode,cityPartRange,numPrevOwners,made,isNewBuilt,hasStormProtector,basement,attic,garage,hasStorageRoom,hasGuestRoom,price
count,2500.000000,2500.000000,2500.000000,2500.000000,2500.000000,2500.000000,2500.000000,2500.000000,2500.000000,2500.000000,2500.000000,2500.000000,2500.000000,2500.000000,2500.000000,2500.000000,2500.000000,2.500000e+03
mean,4996.421600,50076.237600,49.636400,0.509600,0.493200,50.000800,50535.241200,5.506400,5.506400,2001.430400,0.495200,0.495200,5014.677200,5027.427200,552.134800,0.497200,5.006000,5.014009e+06
std,2857.919813,28994.977744,28.695393,0.500008,0.500054,28.820678,28928.339032,2.868249,2.872988,2.330693,0.500077,0.500077,2875.825974,2900.768584,260.808453,0.500092,3.195442,2.899407e+06
min,0.000000,111.000000,1.000000,0.000000,0.000000,1.000000,3.000000,1.000000,1.000000,1997.000000,0.000000,0.000000,10.000000,7.000000,100.000000,0.000000,0.000000,1.443130e+04
25%,2518.750000,24740.750000,25.000000,0.000000,0.000000,25.000000,24919.750000,3.000000,3.000000,1999.000000,0.000000,0.000000,2482.750000,2568.250000,328.000000,0.000000,2.000000,2.478114e+06
50%,5021.000000,50301.000000,49.000000,1.000000,0.000000,51.000000,50687.500000,6.000000,5.000000,2001.000000,0.000000,0.000000,5075.500000,4997.000000,544.500000,0.000000,5.000000,5.038938e+06
75%,7408.750000,75131.250000,74.000000,1.000000,1.000000,75.000000,76277.250000,8.000000,8.000000,2003.000000,1.000000,1.000000,7484.750000,7533.250000,778.250000,1.000000,8.000000,7.517925e+06
max,9997.000000,99985.000000,100.000000,1.000000,1.000000,100.000000,99953.000000,10.000000,10.000000,2005.000000,1.000000,1.000000,9989.000000,9986.000000,1000.000000,1.000000,10.000000,1.000428e+07

In [18]:
#checks the 95 98 99 percentiles
df.price.describe(percentiles=[0.95, 0.98, 0.99])

count    2.500000e+03
mean     4.978221e+06
std      2.867469e+06
min      1.031350e+04
50%      4.938377e+06
95%      9.488480e+06
98%      9.817505e+06
99%      9.907187e+06
max      1.000294e+07
Name: price, dtype: float64

In [19]:
sns.distplot(df.price)

NameError: name 'sns' is not defined